{
  "username": "CHANGE_ME_same_gateway_username",
  "password": "CHANGE_ME_same_gateway_password",
  "subdomain": "CHANGE_ME_same_gateway_validation_subdomain",
  "server_url": "http://gateway:8080"
}
